@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: hsl(66, 95%, 92%);
    font-family: 'Titan One',cursive,'Helvetica';
}
.heading{
    display:flex ;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 13vh;
}
.para{
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    color: #08bb0e;
}
.buttonDiv{
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content:center ;
    height: auto;
    width: auto;
}
#start:hover{
    transition: 400ms;
    background-color: rgb(248, 252, 175);
}
#start{
    /* button */
    padding: 0;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: transparent;
    color: #08bb0e;
    font-size: 25px;
    font-family: 'Titan One',cursive,'Helvetica';
}
.color-popUp-div{
    display: inline-block;
    height: 15px;
    width: 15px;
}
#dialog{
    width: 75vw;
    height: 82.5vh;
    border-radius: 20px;
    border: solid 1px;
    font-size: 1.4vh;
    background-color: hsl(66, 95%, 92%);
    color:rgb(80, 80, 80);
}
#dialog li{
    margin-top: 5vh;
}
#dialog .startGame{
    display: flex;
    justify-content:center ;
    height: auto;
    width: auto;
}
#dialog button{
    background-color: transparent;
    border-radius: 5px;
    border:solid 1px;
}
#dialog .startPlay{
    margin-top: 20px;
    width: 250px;
    background-color: transparent;
    color: #08bb0e;
    font-size: 25px;
    font-family: 'Titan One',cursive,'Helvetica';
}
#dialog .startPlay:hover{
    transition: 400ms;
    background-color: rgb(248, 252, 175);
}
#dialog img{
    height: 30px;
    width:30px;
}
#dialog #close{
    border: none;
}
